@model Sheep.Framework.Application.Operation.OperationResult<Sheep.Core.Application.Sheep.Contracts.GetSheepQuery>
@using Sheep.Framework.Application.Utilities
@using DNTPersianUtils.Core
<div class="content-wrapper" style="min-height: 1301.27px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">صفحه نخست</a></li>
                        <li class="breadcrumb-item active">اطلاعات دام</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-3 m-md-2">
                    <a class="btn btn-success btn-lg" href="#showmodal=@Url.Action("Create", "Sheep")">ثبت دام</a>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">اطلاعات دام</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>شماره دام</th>
                                        <th>تاریخ تولد</th>
@*                                         <th>وضعیت</th> *@
                                        <th>جنسیت</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model.Result.sheepEntities)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.SheepNumber</td>
                                            <td>@item.SheepbirthDate.ToPersianDateTextify() </td>
@*                                             <td><span class="tag tag-success">@EnumExtensions.ToDisplay(@item.SheepState)</span></td>
 *@                                            <td>@EnumExtensions.ToDisplay(@item.Gender)</td>
                                            <td></td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <link href="~/lib/persian-datetime-picker/jquery.mpdatepicker.min.css" rel="stylesheet" />
    <script src="~/lib/persian-datetime-picker/jquery.mpdatepicker.min.js"></script>
@*     <script>

        function Datepicker1(){
            $("#SheepbirthDate").pDatepicker({
          calendar: {
          persian: {
            leapYearMode: 'astronomical'
          }
        }, initialValue: false,
                observer: true,
        format: 'YYYY/MM/DD',
        altField: '.observer-example-alt'
            });
        }
                function Datepicker2(){
            $("#Sheepshop").pDatepicker({
          calendar: {
          persian: {
            leapYearMode: 'astronomical'
          }
        }, initialValue: false,
                observer: true,
        format: 'YYYY/MM/DD',
        altField: '.observer-example-alt'
            });
        }
        function Datepicker3() {
            $("#SheepSellDate").pDatepicker({
                calendar: {
                    persian: {
                        leapYearMode: 'astronomical'
                    }
                }, initialValue: false,
                observer: true,
                format: 'YYYY/MM/DD',
                altField: '.observer-example-alt'
            });
        }
        function Datepicker4() {
            $("#SheepwastedDate").pDatepicker({
                calendar: {
                    persian: {
                        leapYearMode: 'astronomical'
                    }
                }, initialValue: false,
                observer: true,
                format: 'YYYY/MM/DD',
                altField: '.observer-example-alt'
            });
        }
       

        function myFunction() {
            var x = document.getElementById("SheepState").value;
           alert(x)
        }
    </script> *@
    <script>
        $(document).ready(function () {
            $("#MainModal").on('show.bs.modal', function () {
                $(".DatePicker").mpdatepicker({
                });
            });
            $("#Sheep").addClass("active");
        });
</script>

}
