@model Sheep.Core.Application.Sheep.Contracts.GetSheepQuery
@using Sheep.Framework.Application.Utilities
@using DNTPersianUtils.Core
<div class="content-wrapper" style="min-height: 1301.27px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">صفحه نخست</a></li>
                        <li class="breadcrumb-item active">اطلاعات دام</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-12 m-md-2">
                    <a class="btn btn-success btn-lg m-1" href="#showmodal=@Url.Action("Create", "Sheep")">ثبت دام</a>
                    <a class="btn btn-info  btn-lg m-1" href="#showmodal=@Url.Action("Create", "Sheep",new{SheepBirth=true})">ثبت دام متولد شده</a>
                </div>
 
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">اطلاعات دام</h3>
                            <div class="card-tools">
                                 <form action="/Sheep" method="get">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="trim" value="@Model.trim" class="form-control float-right" placeholder="جستجو">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>شماره دام</th>
                                        <th>تاریخ تولد</th>
                                        <th>سن</th>
                                        <th>گروه</th>
                                        <th>جنسیت</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model.sheepEntities)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.SheepNumber</td>
                                            <td>@item.SheepbirthDate.ToPersianDateTextify() </td>
                                            <td>@Calculate.CalculateYourAge(Convert.ToDateTime( item.SheepbirthDate))</td>
                                            <td>@EnumExtensions.ToDisplay(item.SheepCategories.SingleOrDefault().ActiveCategory)</td>
                                          <td>@EnumExtensions.ToDisplay(@item.Gender)</td>
                                            <td>
                                                <a class="btn btn-warning pull-right m-rl-5"
                                                   href="#showmodal=@Url.Action("Edit", "Sheep", new { id = item.Id})">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a class="btn btn-danger pull-right m-rl-5"
                                                   href="#showmodal=@Url.Action("Delete", "Sheep", new { id = item.Id})">
                                                    <i class="fa fa-trash"></i> 
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <partial name="_Pagination" data="@Model.trim,@Model.Addres,@Model.CurentPage,@Model.PageId,@Model.PageCount" />
</div>

@section Scripts {
    <link href="~/lib/persian-datetime-picker/jquery.mpdatepicker.min.css" rel="stylesheet" />
    <script src="~/lib/persian-datetime-picker/jquery.mpdatepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#MainModal").on('show.bs.modal', function () {
                $(".DatePicker").mpdatepicker({
                });
            });
            $("#Sheep").addClass("active");
        });

        function myFunction() {
            var x = document.getElementById("SheepState").value;
            if(x==2){
                removewasteddate()
                addselldate()
                }
                if (x == 1 || x==0) {
                removeselldate();
                removewasteddate()
                    }
            if (x == 3) {
                removeselldate();
                addwasteddate()
            }
            }
            function addselldate() {
                let p = document.getElementsByClassName("SheepSellDate");
                for (i = 0; i < p.length; i++) {
                    p[i].removeAttribute("hidden");
                }
            }
                function removeselldate(){
                    let p = document.getElementsByClassName("SheepSellDate");
                    for (i = 0; i < p.length; i++) {
                        p[i].hidden = true;
                    }
                }
            function addwasteddate() {
                let p = document.getElementsByClassName("SheepwastedDate");
                for (i = 0; i < p.length; i++) {
                    p[i].removeAttribute("hidden");
                }
            }
            function removewasteddate() {
                let p = document.getElementsByClassName("SheepwastedDate");
                for (i = 0; i < p.length; i++) {
                    p[i].hidden = true;
                }
            }
</script>

}
