@model Sheep.Core.Application.Category.CategoryPrice.GetCategoryPriceQuery
@using Sheep.Framework.Application.Utilities
@using Sheep.Framework.Domain.Entities
@using DNTPersianUtils.Core
<div class="content-wrapper" style="min-height: 1301.27px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">صفحه نخست</a></li>
                        <li class="breadcrumb-item active">قیمت خوراک</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-12 m-md-2">
                    <a class="btn btn-success btn-lg m-1" href="#showmodal=@Url.Action("Create", "CategoryPrice")">ثبت قیمت</a>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">اطلاعات قیمت خوراک</h3>
                            <div class="card-tools">
                                <form action="/CategoryPrice" method="get">
                                    <div class="input-group input-group-sm" style="width: 100%;">
                                        <select type="text" name="category" asp-items="@Html.GetEnumSelectList<CategoryType>()" value="@Model.Category" class="form-control float-right" placeholder="گروه">
                                            </select>
                                        <select type="text" name="gender" asp-items="@Html.GetEnumSelectList<GenderType>()" value="@Model.Gender" class="form-control float-right" placeholder="گروه">
                                        </select>
                                        <input type="text" name="start" data-jdp value="" onclick="me()" class="form-control float-right" placeholder="از تاریخ">
                                        <input type="text" name="end" data-jdp value="" class="form-control float-right" placeholder="تا تاریخ">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>قیمت  (ریال)</th>
                                        <th>تاریخ شروع</th>
                                        <th>تاریخ پایان</th>
                                        <th>گروه</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model.CategoryPriceEntities)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Food.ToString("#,0")</td>
                                            <td>@item.Start.ToShortPersianDateString()</td>
                                            <td>@item.End.ToShortPersianDateString()</td>
                                            <td>@EnumExtensions.ToDisplay(item.Category)</td>
                                            <td>
                                                <a class="btn btn-warning pull-right m-rl-5"
                                                   href="#showmodal=@Url.Action("Edit", "CategoryPrice", new { id = item.Id})">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a class="btn btn-danger pull-right m-rl-5"
                                                   href="#showmodal=@Url.Action("Delete", "CategoryPrice", new { id = item.Id})">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <partial name="_Pagination_V3" data="@Model.Start,@Model.End,@Model.Category,@Model.Gender,@Model.Addres,@Model.CurentPage,@Model.PageId,@Model.PageCount" />
</div>

@section Scripts {
    <link href="~/lib/datepicker/jalalidatepicker.min.css" rel="stylesheet" />
    <script src="~/lib/datepicker/jalalidatepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#MainModal").on('show.bs.modal', function () {
                jalaliDatepicker.startWatch({
                    minDate: "attr",
                    maxDate: "attr",
                    zIndex: '1999',
                    container: "body .modal.show",
                    selector: '.modal input[data-jdp]'
                });
             var Food=$("#Food").val();
             if(Food !=null)
             {
                 Food= document.getElementById("Food");
                 format(Food)
             }
            });
            $("#CategoryPrice").addClass("active");
        });
        }
    </script>

    <script>
        function format(input)
          {
              var nStr = input.value + '';
              nStr = nStr.replace( /\,/g, "");
              x = nStr.split( '.' );
              x1 = x[0];
              x2 = x.length > 1 ? '.' + x[1] : '';
              var rgx = /(\d+)(\d{3})/;
              while ( rgx.test(x1) ) {
                  x1 = x1.replace( rgx, '$1' + ',' + '$2' );
              }
              input.value = x1 + x2;
          }
    </script>
}
