@model Sheep.Core.Application.Sheep.Queries.GetSheepQuery
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">اطلاعات دام</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered table-striped dataTable dtr-inline">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>شماره دام</th>
                                    <th>تاریخ تولد</th>
                                    <th>وضعیت</th>
                                    <th>علت</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                   int  i = 1;
                                }
                                @foreach (var item in Model.sheepEntities)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.SheepNumber</td>
                                        <td>@item.SheepbirthDate</td>
                                        <td><span class="tag tag-success">@item.SheepState</span></td>
                                        <td>@item.Gender</td>
                                        <td></td>
                                    </tr>
                                    i++;
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
